footer {
	padding: 1em;
	color: white;
	background-color: black;
	clear: left;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 97%;
}

.game_area td {
	background-color: white;
	width: 23px;
	height: 23px;
	text-align: center;
	position: relative;
}

.game_area td.road {
	background-color: grey;
	border: thin solid grey;
}

.game_area td.vertical-yellow-light {
	border-bottom: thin solid yellow;
	border-top: thin solid yellow;
}

.game_area td.vertical-red-light {
	border-bottom: thin solid red;
	border-top: thin solid red;
}

.game_area td.horizontal-yellow-light {
	border-right: thin solid yellow;
	border-left: thin solid yellow;
}

.game_area td.horizontal-red-light {
	border-right: thin solid red;
	border-left: thin solid red;
}

.icon-rotate-north {
  display: inline-block;
  position: absolute;
  top: 10%;
  right: -2;
}

.icon-rotate-east {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  display: inline-block;
  position: absolute;
  bottom: -2;
  right: 10%;
}

.icon-rotate-south {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
  position: absolute;
  top: 10%;
  left: -2;
}

.icon-rotate-west {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  display: inline-block;
  position: absolute;
  top: -2;
  left: 10%;
}
